@font-face {
  font-family: "TAG-Loos";
  src:
    url("./fonts/LoosWide-Bold.woff2") format("woff2"),
    url("./fonts/LoosWide-Bold.woff") format("woff");
}

@font-face {
  font-family: "TAG-Owners";
  src:
    url("./fonts/OwnersXNarrow-Bold.woff2") format("woff2"),
    url("./fonts/OwnersXNarrow-Bold.woff") format("woff");
}
