@import "tailwindcss";

@theme {
  --font-\*: initial;
  --font-sans:
    "Special Gothic", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-impact:
    "League Gothic", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-\*: initial;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-lily: #f5a9ff;
  --color-pink: #df28f9;
  --color-magenta: #cb00c5;
  --color-midnight: #231539;
  --color-blue: #3000f9;
  --color-yellow: #ffda02;
  --color-orange: #ea502e;
  --color-teal: #419af2;
}

@utility text-sans {
  @apply font-sans;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 115;
}

@utility text-impact {
  @apply font-impact;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-variation-settings: "wdth" 75;
}

html,
body {
  @apply bg-lily;
  @apply text-midnight;
  @apply text-sans;
}

::view-transition-old(.quest),
::view-transition-new(.quest) {
  object-fit: stretch;
  width: 100%;
  height: 100%;
}

::view-transition-group(quest-nav),
::view-transition-old(quest-nav),
::view-transition-new(quest-nav) {
  animation-duration: 0s;
}

::view-transition-group(quest-close),
::view-transition-old(quest-close),
::view-transition-new(quest-close) {
  animation-duration: 0s;
}

@keyframes squish-in {
  from {
    transform: scaleX(0);
  }
}

@keyframes squish-out {
  to {
    transform: scaleX(0);
  }
}

::view-transition-old(quest-page) {
  animation-name: squish-out;
}

::view-transition-new(quest-page) {
  animation-name: squish-in;
}

::view-transition-new(quest-page),
::view-transition-old(quest-page) {
  width: calc(100% - 2px);
  height: 100%;
}

::view-transition-old(quest-page) {
  transform-origin: 0% 50%;
  border-left: none;
}

::view-transition-new(quest-page) {
  transform-origin: 100% 50%;
  border-left: 2px solid var(--color-pink);
}

.transition-back::view-transition-old(quest-page) {
  transform-origin: 100% 50%;
  border-left: 2px solid var(--color-pink);
}

.transition-back::view-transition-new(quest-page) {
  transform-origin: 0% 50%;
  border-left: none;
}
