@import "tailwindcss";

@theme {
  --font-\*: initial;
  --font-sans: "Special Gothic", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-impact: "League Gothic", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-\*: initial;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-lily: #f5a9ff;
  --color-pink: #df28f9;
  --color-magenta: #cb00c5;
  --color-midnight: #231539;
  --color-blue: #3000f9;
  --color-yellow: #ffda02;
  --color-orange: #ea502e;
  --color-teal: #419af2;
}

@utility text-sans {
  @apply font-sans;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 115;
}

@utility text-impact {
  @apply font-impact;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-variation-settings:
    "wdth" 75;
}

html,
body {
  @apply bg-lily;
  @apply text-midnight;
  @apply text-sans;
}

::view-transition-old(.quest),
::view-transition-new(.quest) {
  object-fit: stretch;
  width: 100%;
  height: 100%;
}
